MONGODB_URL=mongodb://root:root@mongo:27017/
DATABASE_NAME=namaste_bali
JWT_SECRET_KEY=your_secret_key_here

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=namaste-bali
MINIO_SECURE=false

BASE_URL=https://api.namastebalitrans.com
